* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background: #424141;
  align-items: center;
  padding: 15px;
}
.navbar-logo {
}
.logo {
  width: 100px;
  padding: 5px;
}
.menu-bar {
  display: flex;
}
.item {
  list-style: none;
  margin-left: 5px;
  font-size: 18px;
  padding: 5px;
}
.item:hover a {
  color: #e8ebea36;
}
.item a {
  color: white;
}
.banner-section {
  background: url(images/background.png),
    linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.banner-title {
  font-size: 54px;
  font-weight: bolder;
}
.banner-description {
  font-size: 18px;
  margin-top: 15px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 20px;
  color: white;
  background-color: red;
}
.title {
  text-align: center;
  font-size: 50px;
}
.about-header {
  margin-bottom: 15px;
  font-size: 25px;
}
.about-title {
  padding-top: 20px;
}
.about-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px 0;
}
.service-section {
  background: url(images/background.png),
    linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
  color: white;
  padding: 50px 0;
}
.service-boxs {
  display: flex;
  justify-content: space-around;
}
.service-icon {
  width: 70px;
}
.box {
  width: 200px;
  padding: 20px;
  background: #111;
  box-shadow: 1px 1px 30px #2e2e2e;
  border-radius: 5px;
  text-align: center;
}
.service-title {
  padding: 20px 0;
}
.service-header {
  font-weight: bolder;
  font-size: 30px;
  margin: 10px 0;
}
footer {
  background: linear-gradient(0deg, #2e2e2e 20%, #000000 80%);
  height: 70vh;
  color: white;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 60vh;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}
.footer-item {
  list-style: none;
}
.footer-item a {
  text-decoration: none;
  color: white;
}
.copy {
  text-align: center;
  padding: 15px;
}
